{{#if feedback}}
  <h3 class="login__feedback_header">{{feedbackHumanable}}</h3>
{{else}}
  <h2 class="login__feedback_header">Login into your account</h2>
{{/if}}
<div class="login__main_div">
    <div class="login__main_content">
	    <div class="login__main_content-body">
		    <p class="login__main_content-par">Enter your credentials:</p>
            <form {{action 'authenticate' on='submit'}}><div class="login__main_content_form-group">
                    <div class="login__main_content_input-group">
                        <div class="login__main_content_input-group-addon">
                            <i class=""></i>
                        </div>
                        {{~input id='identification' class="login__main_content-form-control" type="text" placeholder='Username' value=identification ~}}
                    </div>
                </div><div class="login__main_content_form-group">
                    <div class="login__main_content_input-group">
                        <div class="login__main_content_input-group-addon">
                            <i class=""></i>
                        </div>
                        {{~input id='password' class="login__main_content-form-control" type="password" placeholder='Password' value=password~}}
                    </div>
                </div>
                <div class="row">
							      <div class="col-xs-8 text-left checkbox">
    				    		</div>
    						    <div class="col-xs-4">
    								    <div class="form-group text-right">
            								<button class="btn btn-success text-uppercase login__main_content-button-submit" type="submit">Sign In</button>
           							</div>
    							  </div>
    						</div>
                {{~#if error}}
                    <p>
                        {{error}}
                    </p>
                    <input type="button" class='login__main_content-large-button text-uppercase' onclick="location.href='/password/recover/';" value="Reset password" />
                {{~/if}}
                <div class="login__main_content-par"><em>- don't have an account? -</em></div>
                {{#link-to 'signup' class='login__main_content-large-button text-uppercase' tagName='button'}} Register {{/link-to}}
            </form>
        </div>
    </div>
</div>
{{~#if errorMessage}}
  <p>
      <strong>Login failed:</strong>
      <code>{{errorMessage}}</code>
  </p>
{{~/if}}
