<h1>Login</h1>

<form {{action 'authenticate' on='submit'}}>
  <p>
    <label for="username">Login</label>
    {{input id='username' placeholder='Enter Login' value=username}}
  </p>
  <p>
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
  </p>
  <p>
    <button type="submit">Login</button>
  </p>
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
</form>

{{#if errorMessage}}
  <p>
      <strong>Login failed:</strong>
      <code>{{errorMessage}}</code>
  </p>
{{/if}}